.ListItem {
    width: 400px;
    border-radius: 10px;
  
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  
    display: flex;
    justify-content: center;
  }

  .ButtonDone {
    width: 80px;
    height: 40px;
  }
  
  .ButtonDelete {
    width: 80px;
    height: 40px;
  }
  
  .BtnGroup {
    margin: 4px;
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  