.myBtn {
  flex: 1;
  background-color: #c0ebdd;
  margin-left: 2px;
}

.myBtn:hover {
  background-color: aquamarine;
}

.myBtn:active {
  background-color: aquamarine;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
